{% extends 'base.html' %} <!-- Extends the base template -->

{% load static %} <!-- Loads static files -->

{% block content %} <!-- Defines a content block -->

<div class="col-md-8 mx-auto"> <!-- Container for carousel -->
    <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner rounded">
                <!-- Carousel items -->
                <div class="carousel-item active">
                    <!-- Carousel item 1 -->
                    <div class="carousel-image-container">
                        <img src="{% static 'images/quino_rice.jpg' %}" class="d-block w-100 rounded" alt="A fresh and healthy meal setting">
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- Carousel item 2 -->
                    <div class="carousel-image-container">
                        <img src="{% static 'images/vegan_burger.jpg' %}" class="d-block w-100 rounded" alt="Delicious organic smoothies selection">
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- Carousel item 3 -->
                    <div class="carousel-image-container">
                        <img src="{% static 'images/gluten_pizza.jpg' %}" class="d-block w-100 rounded" alt="Vibrant vegan and vegetarian dishes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-center mt-5 welcome-section"> <!-- Welcome section -->
    <h1 class="display-4">Welcome to Healthy Bites</h1> <!-- Main heading -->
    <p class="lead text-muted"><em>Experience the finest in healthy, organic, and specialized dietary delights.</em></p> <!-- Subheading -->
</div>

<section class="container my-5"> <!-- Menu section -->
    <div class="row justify-content-center text-center">
        <div class="col-10 col-md-3 col-lg-2 m-3 card shadow grow">
            <!-- Menu item 1: Food Menu -->
            <a href="{% url 'food_menu' %}" class="text-decoration-none">
                <img src="{% static 'images/vegan_burger.jpg' %}" class="card-img-top rounded img-fluid"
                    alt="A variety of vegan and vegetarian dishes">
                <div class="mt-3 mb-3 menu-title">
                    <h2><i class="fas fa-utensils"></i> Food Menu</h2> <!-- Menu item title -->
                </div>
            </a>
        </div>

        <div class="col-10 col-md-3 col-lg-2 m-3 card shadow grow">
            <!-- Menu item 2: Milkshakes -->
            <a href="{% url 'milkshakes' %}" class="text-decoration-none">
                <img src="{% static 'images/milkshake.jpg' %}" class="card-img-top rounded img-fluid"
                    alt="A selection of delicious milkshakes">
                <div class="mt-3 mb-3 menu-title">
                    <h2><i class="fas fa-glass-whiskey"></i> Milkshakes</h2> <!-- Menu item title -->
                </div>
            </a>
        </div>

        <div class="col-10 col-md-3 col-lg-2 m-3 card shadow grow">
            <!-- Menu item 3: Smoothies -->
            <a href="{% url 'smoothies' %}" class="text-decoration-none">
                <img src="{% static 'images/protein_shake.jpg' %}" class="card-img-top rounded img-fluid"
                    alt="A selection of refreshing smoothies">
                <div class="mt-3 mb-3 menu-title">
                    <h2><i class="fas fa-blender"></i> Smoothies</h2> <!-- Menu item title -->
                </div>
            </a>
        </div>
    </div>
</section>

<div class="container-fluid text-center my-5 footer-text"> <!-- Footer section -->
    <p class="h5"><em>Embark on a culinary journey that soothes the soul and delights the palate.</em></p> <!-- Footer text -->
</div>

{% endblock %} <!-- End of content block -->
