{% extends "base.html" %}

{% block content %}

<section class="mt-5 py-5 light-bg"> <!-- Section with consistent light background -->
    <div class="container-fluid">
        
        <!-- Header Section -->
        <div class="row justify-content-center mb-4">
            <div class="col-sm-8 text-center mb-5">
                <h2 class="font-weight-light brand">Thanks for Connecting with Healthy Bites!</h2>
                <hr class="w-50 mx-auto brand-bg"> <!-- Brand color horizontal rule -->
            </div>
        </div>
        
        <!-- Content Section -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card hover-shadow"> <!-- Card with consistent shadow styling -->
                        <div class="card-body bg-white rounded-lg">
                            <div class="text-center pb-4">
                                <i class="fas fa-check-circle brand-color fa-5x mb-3"></i> <!-- Brand color checkmark icon -->
                                <h4 class="mb-4 font-weight-bold brand-color">Message Successfully Received</h4>
                                <p class="lead mb-4">Thank you for reaching out! We value our customers and their feedback. We'll ensure to get back to you soon.</p>
                                <h5 class="mb-4 font-weight-light brand">While you wait, why not check out our latest offerings?</h5>
                                <hr class="brand-bg my-4"> <!-- Brand color horizontal rule -->
                                <a href="{% url 'home' %}" class="btn brand-bg btn-lg shadow-sm"> <!-- Button with brand color -->
                                    <i class="fas fa-home mr-2"></i> Return Home
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
