{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mt-5 py-5" style="background-color: #4169E1;"> <!-- Bright blue inspired by the Somali flag -->
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 mt-5 mb-5">
            <h1 class="text-center display-4" style="color: white; font-weight: bold;">Nala Soo Xiriir</h1> <!-- "Nala Soo Xiriir" means "Contact Us" in Somali -->
            <hr class="bg-white">
        </div>
    </div>
