{% extends "base.html" %}

{% block content %}

<section>
    <div class="container mt-4">
        <!-- Check if user is logged in -->
        {% if not user.is_authenticated %}
            <div class="alert alert-warning text-center">
                <strong>Note:</strong> You need to login to view your bookings.
                <a href="{% url 'account_login' %}" class="btn btn-primary mt-3">Login Now</a>
            </div>
        {% else %}
            <h2 class="text-center mb-4">Your Bookings</h2>
            <hr>

            <div class="row justify-content-around">
            {% for reservation in booking %}
                <div class="col-md-5 mb-4">
                    <div class="card shadow">
                        <div class="card-header bg-light">
                            <h3>{{ reservation.name }}</h3>
                        </div>
                        <div class="card-body bg-white">
                            <h4>Date: {{ reservation.requested_date }} at {{ reservation.requested_time }}</h4>
                            <p>Status: <strong>{{ reservation.status }}</strong></p>
                            <p>Guests: {{ reservation.guest_count }}</p>
                            <p>Table No: {{reservation.table}}</p>
                            <!-- Check booking status -->
                            {% if reservation.status == 'booking expired' %}
                                <button class="btn btn-outline-danger disabled">Expired</button>
                            {% else %}
                                <a href="{% url 'modify_reservation_form' reservation.pk %}" class="btn btn-outline-success">Modify</a>
                                <a href="{% url 'terminate_reservation_dialog' reservation.pk %}" class="btn btn-outline-danger">Terminate</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center">No bookings found.</p>
            {% endfor %}
            </div>