{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<section class="mt-5">
    <div class="container-fluid">
        <header class="row justify-content-center">
            <div class="col-sm-8 my-5">
                <h2 class="text-center">Want to Update Your Booking?</h2>
                <hr>
            </div>
        </header>
        
        <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-header bg-dark text-white">Booking Details</div>
                        <div class="card-body bg-light">

                            {% if not user.is_authenticated %}
                                <div class="alert alert-warning">
                                    <strong>Note:</strong> You need to login to edit bookings.
                                    <a href="{% url 'account_login' %}" class="btn btn-primary mt-3">Login</a>
                                </div>