/* Global Styles */
body {
    /* Background and typography styles for the entire page */
}

/* Branding */
.brand {
    /* Styles for branding elements, such as the logo or site title */
}

/* Color Modifiers */
.red-o {
    /* Red color modifier */
}

.thin {
    /* Styles for thin font weight */
}

.light-bg {
    /* Styles for a light background color */
}

.dark-bg {
    /* Styles for a dark background color */
}

.main-bg {
    /* Styles for the main background color */
}

/* Card Styles */
.card {
    /* Styles for cards, such as boxes with content */
}

.hover-shadow:hover {
    /* Hover effect for elements with shadow */
}

/* Image Containers */
.image-container {
    /* Styles for containers that hold images */
}

.image-flash {
    /* Styles for a flashing effect on images */
}

.author {
    /* Styles for author-related elements */
}

.brand-color {
    /* Styles for elements with the brand color */
}

.brand-color:hover {
    /* Hover effect for elements with the brand color */
}
/* Masthead Styles */
.masthead {
    /* Styles for the masthead section, such as background and positioning */
}

.post-title {
    /* Styles for post titles within the masthead */
}

/* Button Styles */
.btn-signup, .btn-like, .custom-btn {
    /* Common styles for buttons like signup and like buttons */
}

.btn-green {
    /* Styles for green-colored buttons */
}

.btn-green:hover, .custom-btn:hover {
    /* Hover effect for green-colored buttons */
}

.btn-outline-primary {
    /* Styles for primary outline buttons */
}

.btn-outline-primary:hover {
    /* Hover effect for primary outline buttons */
}

.btn-outline-danger {
    /* Styles for danger outline buttons */
}

.btn-outline-danger:hover {
    /* Hover effect for danger outline buttons */
}

/* Navbar Styles */
.navbar-light .navbar-toggler-icon {
    /* Styles for the navbar toggler icon in light theme */
}

/* Footer Styles */
.footer-icon {
    /* Styles for footer icons */
}

.footer-icon:hover {
    /* Hover effect for footer icons */
}

.footer-text .h5 {
    /* Styles for h5 text within the footer */
}

/* Additional Styles */
.shadow-text {
    /* Text shadow for adding shadow to text elements */
}

.event-icon {
    /* Styles for event icons, such as font size and alignment */
}
.carousel-inner img {
    transition: transform 0.3s;
    /* Transition effect for images inside the carousel */
}

.display-4 {
    font-weight: 500;
    color: #333;
    /* Styles for display-4 elements, including font weight and color */
}

.lead.text-muted {
    font-size: 1.5rem;
    color: #6c757d;
    /* Styles for lead text with muted color */
}

/* Healthy Bites Theme Colors */
.fas.fa-leaf, .fas.fa-salad, .menu-title .fas {
    color: #63a675;
    /* Styles for specific FontAwesome icons related to Healthy Bites theme */
}

.carousel-image-container {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    /* Styles for the container of carousel images */
}

.carousel-image-container img {
    height: 300px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    /* Styles for images within the carousel container */
}


.menu-title {
    font-family: 'Verdana', sans-serif;
    color: #203726;
    transition: color 0.3s ease-in-out;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Styles for menu titles, including font family and color */
}

.menu-title:hover {
    color: #203726;
    /* Hover effect for menu titles */
}

.menu-item-name {
    color: #203726;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    transition: font-size 0.3s ease-in-out;
    /* Styles for menu item names, including color and font size */
}

.menu-item-name:hover {
    font-size: 1.6rem;
    /* Hover effect for menu item names */
}

.menu-item-description {
    font-family: 'Verdana', sans-serif;
    color: #777;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    display: block;
    transition: color 0.3s ease-in-out;
    /* Styles for menu item descriptions, including font family and color */
}

.menu-item-description:hover {
    color: #555;
    /* Hover effect for menu item descriptions */
}
.menu-item-price {
    font-weight: bold;
    /* Styles for menu item prices, setting font weight to bold */
}

.menu-item-card {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
    transition: background-color 0.3s ease-in-out;
    /* Styles for menu item cards, including border and padding */
}

.menu-item-card:hover {
    background-color: #f9f6f2;
    /* Hover effect for menu item cards, changing background color */
}


/* Alerts */
.custom-alert {
    background-color: #FFE5D4;
    border-color: #FFC3A0;
    color: #D43F00;
    /* Styles for custom alerts */
}

.custom-danger-alert {
    background-color: #FFE5D4;
    border-color: #FFC3A0;
    color: #D43F00;
    /* Styles for custom danger alerts */
}

/* Welcome section styling */
.welcome-section .display-4 {
    color: #306648;
    /* Styles for display-4 elements inside the welcome section */
}

/* Media Queries */
@media (min-width: 768px) {
    .masthead {
        height: 70vh;
    }

    .post-title {
        margin-top: 35%;
    }
    /* Media query styles for screens with a minimum width of 768px */
}

@media (max-width: 992px) {
    .masthead {
        height: 50vh;
    }

    .post-title {
        margin-top: 25%;
    }
    /* Media query styles for screens with a maximum width of 992px */
}

/* Font and Color Classes */
.font-verdana {
    font-family: 'Verdana';
    /* Styles for text with Verdana font family */
}

.font-europa {
    font-family: 'Europa', sans-serif;
    /* Styles for text with Europa font family */
}

.font-system {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    /* Styles for text with system font family */
}

.color-3d3d3d {
    color: #3d3d3d;
    /* Styles for text with color #3d3d3d */
}

.color-111111 {
    color: #111111;
    /* Styles for text with color #111111 */
}

.color-000000 {
    color: #000000;
    /* Styles for text with color #000000 */
}

.color-0d2e51 {
    color: #0d2e51;
    /* Styles for text with color #0d2e51 */
}

.color-101820 {
    color: #101820;
    /* Styles for text with color #101820 */
}

.description-header {
    font-family: 'Verdana';
    font-size: 18px;
    /* Styles for description headers with Verdana font and 18px font size */
}

/* Styles for different descriptions with Verdana font and 18px font size */
.mediterranean-description,
.quinoa-description,
.frozen-yogurt-description,
.avocado-dessert-description,
.berry-yogurt-description,
.lentil-dish-description,
.healthy-dish-description,
.salmon-dish-description,
.italian-salad-description,
.grilled-veg-starter,
.oreo-milkshake-description,
.strawberry-milkshake-description,
.chocolate-milkshake-description,
.berry-smoothie-description,
.tropical-smoothie-description,
.green-smoothie-description {
    font-family: 'Verdana';
    font-size: 18px;
}

.lentil-dish-description {
    color: #101820;
    /* Additional style for lentil dish description with color #101820 */
}

.healthy-dish-description {
    font-family: 'Verdana', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: #0d2e51;
    /* Styles for healthy dish description with font fallbacks, 18px font size, and color #0d2e51 */
}

.salmon-dish-description {
    font-family: 'Verdana', 'Europa', sans-serif;
    font-size: 18px;
    color: #000000;
    font-variant-ligatures: none;
    /* Styles for salmon dish description with multiple font families, 18px font size, color #000000, and font ligatures disabled */
}

.italian-salad-description {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    /* Styles for Italian salad description with Verdana font and 18px font size */
}

.grilled-veg-starter {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    color: #111111;
    letter-spacing: 0.6px;
    /* Styles for grilled vegetable starter description with Verdana font, 18px font size, color #111111, and letter spacing */
}

/* ... Additional styles for various descriptions ... */
