/* Global Styles */
body {
    background-color: #f9f6f2;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

/* Branding */
.brand {
    font-family: 'Zilla Slab', serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #306648;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Color Modifiers */
.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #f7f7f7;
}

.dark-bg {
    background-color: #99a89e;
}

.main-bg {
    background-color: #f9f6f2;
}

/* Card Styles */
.card {
    border: none;
    background-color: #fdfcfb;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hover-shadow:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image Containers */
.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #63a675;
    padding: 10px;
    border-radius: 5px;
}

.author {
    color: #000000;
    margin: 4px;
    text-transform: uppercase;
}

.brand-color {
    color: #306648; /* This is the color you've used for branding elsewhere, you can change it as needed */
    text-decoration: none; /* Removes the underline from the link */
    transition: color 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.brand-color:hover {
    color: #63a675; /* A slightly different color on hover, you can adjust as needed */
}


/* Masthead Styles */
.masthead {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 40vh;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
}

.post-title {
    margin-top: 25%;
}

/* Button Styles */
.btn-signup, .btn-like, .custom-btn {
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background-color: #5BA150;
    color: white;
}

.btn-green {
    background-color: #63a675;
    color: white;
}

.btn-green:hover, .custom-btn:hover {
    background-color: #4CAF50;
}

.btn-outline-primary {
    border-color: #63a675;
    color: #63a675;
}

.btn-outline-primary:hover {
    background-color: #63a675;
    color: white;
}

.btn-outline-danger {
    border-color: #E84610;
    color: #E84610;
}

.btn-outline-danger:hover {
    background-color: #E84610;
    color: white;
}

/* Navbar Styles */
.navbar-light .navbar-toggler-icon {
    background-color: #306648;
}

/* Footer Styles */
.footer-icon {
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.footer-icon:hover {
    color: #63a675;
}

.footer-text .h5 {
    color: #306648;
}

/* Additional Styles */
.shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.event-icon {
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
}

.carousel-inner img {
    transition: transform 0.3s;
}

.display-4 {
    font-weight: 500;
    color: #333;
}

.lead.text-muted {
    font-size: 1.5rem;
    color: #6c757d;
}

/* Healthy Bites Theme Colors */
.fas.fa-leaf, .fas.fa-salad, .menu-title .fas {
    color: #63a675;
}

.carousel-image-container {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-image-container img {
    height: 300px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

/* ... Your previous styles ... */

.menu-title {
    font-family: 'Verdana', sans-serif;
    color: #203726;
    transition: color 0.3s ease-in-out;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-title:hover {
    color: #203726;
}

.menu-item-name {
    color: #203726;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    transition: font-size 0.3s ease-in-out;
}

.menu-item-name:hover {
    font-size: 1.6rem;
}

.menu-item-description {
    font-family: 'Verdana', sans-serif;
    color: #777;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    display: block;
    transition: color 0.3s ease-in-out;
}

.menu-item-description:hover {
    color: #555;
}

.menu-item-price {
    font-weight: bold;
}

.menu-item-card {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
    transition: background-color 0.3s ease-in-out;
}

.menu-item-card:hover {
    background-color: #f9f6f2;
}

/* ... Your previous media queries and other classes ... */


/* Alerts */
.custom-alert {
    background-color: #FFE5D4;
    border-color: #FFC3A0;
    color: #D43F00;
}

.custom-danger-alert {
    background-color: #FFE5D4;
    border-color: #FFC3A0;
    color: #D43F00;
}

/* Welcome section styling */
.welcome-section .display-4 {
    color: #306648;
}

/* Media Queries */
@media (min-width: 768px) {
    .masthead {
        height: 70vh;
    }

    .post-title {
        margin-top: 35%;
    }
}

@media (max-width: 992px) {
    .masthead {
        height: 50vh;
    }

    .post-title {
        margin-top: 25%;
    }
}



.font-verdana {
    font-family: 'Verdana';
}

.font-europa {
    font-family: 'Europa', sans-serif;
}

.font-system {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.color-3d3d3d {
    color: #3d3d3d;
}

.color-111111 {
    color: #111111;
}

.color-000000 {
    color: #000000;
}

.color-0d2e51 {
    color: #0d2e51;
}

.color-101820 {
    color: #101820;
}

.description-header {
    font-family: 'Verdana';
    font-size: 18px;
}

.mediterranean-description {
    font-family: 'Verdana';
    font-size: 18px;
}

.quinoa-description {
    font-family: 'Verdana';
    font-size: 18px;
}

.frozen-yogurt-description {
    font-family: 'Verdana';
    font-size: 18px;
}

.avocado-dessert-description {
    font-family: 'Verdana';
    font-size: 18px;
}

.berry-yogurt-description {
    font-family: 'Verdana';
    font-size: 18px;
}

.lentil-dish-description {
    font-family: 'Verdana';
    font-size: 18px;
    color: #101820;
}

.healthy-dish-description {
    font-family: 'Verdana', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 18px;
    color: #0d2e51;
}

.salmon-dish-description {
    font-family: 'Verdana', 'Europa', sans-serif;
    font-size: 18px;
    color: #000000;
    font-variant-ligatures: none;
}

.italian-salad-description {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
}

.grilled-veg-starter {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    color: #111111;
    letter-spacing: 0.6px;
}

.oreo-milkshake-description {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
}

.strawberry-milkshake-description {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
}

.chocolate-milkshake-description {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
}

.berry-smoothie-description {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
}

.tropical-smoothie-description {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
}

.green-smoothie-description {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
}

