{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 mt-5 mb-5">
            <h1 class="text-center">Food Menu</h1>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8">
            <hr>
            <h2><i class="fas fa-utensils"></i> Starters</h2>
            <hr>
            {% for meal in food_items %}
                {% if meal.meal_category == 0 and meal.available %}
                    <div class="mb-3">
                        <h3><i class="fas fa-utensil-spoon"></i> {{ meal.meal_name }}</h3>
                        <p>{{ meal.description | safe }} - <span class="font-weight-bold"><i class="fas fa-shopping-cart"></i> €{{ meal.price }}</span></p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>