{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 mt-5 mb-5">
            <h1 class="text-center menu-title">Shake Varieties</h1> <!-- Title for the Shake Varieties page -->
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8">
            {% for shake in shake_list %}
            {% if shake.available %}
            <div class="menu-item-card">
                <h3 class="menu-item-name"><i class="fas fa-glass-whiskey"></i> {{ shake.beverage_name }}</h3> <!-- Name of the shake -->
                {{ shake.description | safe }} <!-- Description of the shake -->
                <span class="menu-item-price"><i class="fas fa-shopping-cart"></i> €{{ shake.price }}</span> <!-- Price of the shake -->
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
