{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <!-- Title -->
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 mt-5 mb-5">
            <h1 class="text-center menu-title">Smoothie Blends <i class="fas fa-glass-whiskey"></i></h1>
        </div>
    </div>

    <!-- Smoothie Listings -->
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8">
            {% for blend in blends_list %}
            {% if blend.available %}
                <div class="menu-item-card">
                    <h3 class="menu-item-name"><i class="fas fa-glass-whiskey"></i> {{ blend.beverage_name }}</h3>
                    {{ blend.description | safe }}
                    <span class="menu-item-price"><i class="fas fa-shopping-cart"></i> €{{ blend.price }}</span>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
