{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Healthy Bites</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS & JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column h-100 main-bg">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand fs-5" href="{% url 'home' %}">
            <span class="brand">healthy<span class="red-o">b</span>ites</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fas fa-utensils"></i> Menus
                </a>
                <!-- Menu dropdown to food and drink menus-->
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item fs-5" href="{% url 'food_menu' %}"><i class="fas fa-hamburger"></i> Food Menu</a></li>
                  <li><a class="dropdown-item fs-5" href="{% url 'smoothies' %}"><i class="fas fa-glass-whiskey"></i> Smoothies Menu </a></li>
                  <li><a class="dropdown-item fs-5" href="{% url 'milkshakes' %}"><i class="fas fa-ice-cream"></i> Milkshakes Menu </a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'blog_home' %}"><i class="fas fa-blog"></i> Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'contact' %}"><i class="fas fa-envelope"></i> Contact Us</a>
            </li>
            <!-- ... User Auth ... -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'active_bookings_dashboard' %}"><i class="fas fa-book"></i> My Bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{% url 'initiate_reservation_page' %}"><i class="fas fa-envelope"></i> Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link fs-5" href="{% url 'account_signup' %}"><i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<main class="flex-shrink-0 main-bg mt-3">
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
</main>

<!-- Footer -->
<footer class="footer mt-auto py-5 bg-dark">
  <div class="container text-center">
      <p class="text-white fs-3 mb-3">Healthy Bites</p>

      <!-- Opening Hours & Contact Details -->
      <div class="mb-3">
          <h4 class="text-white">Opening Hours</h4>
          <p class="text-white">Mon-Fri: 9am - 9pm</p>
          <p class="text-white">Sat-Sun: 10am - 10pm</p>

          <h4 class="text-white mt-3">Contact Details</h4>
          <p class="text-white">Phone: +1-123-456-7890</p>
          <p class="text-white">Email: info@healthybites.com</p>
      </div>

      <div class="d-flex justify-content-center align-items-center">
          <span class="text-white fs-3 me-3">Follow us:</span>
          <!-- Social Icons -->
          <a href="#" class="text-white fs-3 me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white fs-3 me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white fs-3 me-3"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="text-white mt-3">
          &copy; 2023 Healthy Bites. All Rights Reserved.
      </div>
  </div>
</footer>


<script>
  if (document.getElementById('msg')) {
      setTimeout(function () {
          let messages = document.getElementById('msg');
          let alert = new bootstrap.Alert(messages);
          alert.close();
      }, 2500);
  }
</script>


</body>
</html>
